{
    "presets": [
        [ "env", {
          "targets": {
              "browsers": [ ">= 1%", "ie > 10" ]
          }
        }]
    ],
    "env": {
        "test": {
            "presets": [ [ "env", {
              "targets": {
                  "browsers": [ ">= 1%", "ie > 10" ]
              }
            }] ]
        }
    },
    "plugins": [ "transform-runtime" ]
}
