/*************************************
* Brand & other color variables here *
*************************************/


// Brand colors
$white: #fff;
$black: #000;
$black-transparent: rgba(0, 0, 0, 0.6);
$black-light: #464646;
$black-inactive: #0a0504;
$purple: #503087;

$purple-light:  #6a5197;
$purple-inactive: #6b5198;
$grey: #e1e1e1;
$grey-light:  #eeeeee;
$green-light: #4daf6f;
$green: #36995b;
$blue: #0072a8;
$blue-light: #0084bc;

$purple-dark: #37215D;
$light-purple: #6a5197;
$grey-light: #eee;
$grey-light: #eee;
$grey-light-hover: #e1e1e1;
$grey-border: #d7d7d7;
$grey-dark: #acacac;
$grey-light-background: #fafafa;
$green-blue-light: #4DAF6F;

// Text colors
$text-white: $white;
$text-black: $black;
$copyright-grey: #ebebeb;
$text-purple: $purple;
$text-link: $black;
$text-gray: #333333;
$grey-link-text: #363636;
$grey-content: #636363;


// Form elements colors
$placeholder-color: $black;
$top-menu-bg: $purple-dark;
$navigation-bg: $purple;
$purple-cta: $light-purple;
$header-bar-bg: $purple-dark;
$navigation-bg: $purple;
$navigation-bg: $purple;
$homepage-about-grey: $grey-light;
$task-purple: #5e418f;
$task-grey: $copyright-grey;
$task-background-grey: $grey-light-background;
$task-border-grey: #d7d7d7;
