.filter {
    display: flex;
    align-items: center;
    flex-flow: row;
    margin-bottom: 15px;
    cursor: pointer;

    &__checkbox {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    &.selected {
        font-weight: 600;
    }

    &.disabled {
        opacity: 0.4;
    }

    &--category {
        flex-flow: column;
        flex: 0 0 45%;
        text-align: center;
        font-size: 14px;

        &__icon {
            // display: block;
            width: 100%;
            height: 90px;
            margin-bottom: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__checkbox {
            order: 2;
            margin: 20px 0px 0px;
        }
    }

    .filter-category__parent-filter-wrapper & {
        margin-top: 15px;
    }
}

@include tablet() {

    .filter {

        &--category {
            flex: 0 0 22%;
            margin-right: 4%;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}
