.vw-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    padding: 44px 30px 30px;
    background-color: $black;
    font-family: $main-family;
    &__top-section {
        width: 100%;
        display: flex;
        flex-flow: column;
        @include centerElements();
        margin-bottom: 35px;
    }
    &__site-branding {
        display: flex;
        max-width: 200px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        font-family: $main-family;
        img {
            width: 100%;
            height: 20px;
        }
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        max-width: 138px;
        width: 100%;
        height: auto;
        margin: 0 auto 38px;
    }
    &__social-icon {
        width: 30px;
        height: 30px;

    }
    &__bottom-section {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__footer-menu {
        display: flex;
        flex-flow: column;
    }
    &__menu {
        display: flex;
        flex-flow: column;
        width: 100%;
        // margin-bottom: 25px;
        text-align: center;
        a {
            color: $white;
        }
    }
    &__menu-item {
        margin-bottom: 10px;
        font-size: 14px;
    }
    &__copyright {
        width: 70%;
        margin: 0 auto;
        font-size: 12px;
        color: $copyright-grey;
        text-align: center;
        line-height: 1.5;

    }
}

@include tablet() {
    .vw-footer {
        padding: 32px 40px 42px;
        &__top-section {
            align-items: flex-start;
        }
        &__menu {
            flex-flow: row-reverse;
            justify-content: flex-end;
            align-items: center;
            a {
                font-size: 14px;
            }
        }
        &__footer-menu {
            width: 80%;
            flex-flow: row;
            justify-content: flex-start;

        }
        &__wp-admin {

        }
        &__menu-item {
            margin-bottom: 0px;
            margin-left: 50px;
        }
        &__site-branding {
            img {
                width: auto;
            }
        }
        &__socials {
            margin: 0px;
        }
        &__bottom-section {
            width: 100%;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__copyright {
            width: 100%;
            margin: 0;
            text-align: right;
        }
    }
}
@include desktop() {
    .vw-footer {
        height: 230px;
        flex-flow: column;
        justify-content: space-between;
        padding: 38px 90px 42px;
        &__top-section {
            width: 100%;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 0;
        }
        &__site-branding {
            width: 100%;
            margin-bottom: 45px;
        }
        &__bottom-section {
            width: 100%;
        }
        &__menu {
            flex-flow: row;
            justify-content: flex-end;
        }
        &__footer-menu {
            flex-flow: row;
            justify-content: flex-end;
        }
        &__menu-item {
            margin: 0px 64px 0px 0px;
        }
        &__copyright {
            font-size: 14px;
            text-align: right;
        }
    }

};
