.login-register {
    padding: 52px 20px 40px;
    @include centerXY();
    top: 75%;
    background-color: $grey-light-background;
    border-radius: 10px;
    z-index: 5;
    overflow-y: scroll;
    width: 90%;

    &__title {
        margin-bottom: 14px;
        font-size: 24px;
        color: $purple;
    }
    &__form {
        display: flex;
        flex-flow: column;
    }
    &__label {
        font-size: 18px;
        margin: 14px 0px 10px;
    }
    &__input, textarea {
        padding: 14px 12px 18px;
        font-size: 16px;
        background-color: $white;
        color: $black-light;
        border: solid 1px #dddddd;
        border-radius: 5px;
    }
    &__submit {
        @include cta-green();
        margin: 42px 0px 24px;
    }
    &__login-link {
        text-decoration: underline;
        cursor: pointer;
    }
    &__overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black-transparent;
        z-index: 55;
        overflow-y: scroll;

    }

    &__close {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 10px;
        height: 10px;
        cursor: pointer;

        &:after {
            content: '\f00d';
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'FontAwesome';
            color: $grey;
            font-size: 26px;
        }
    }

    &__login {
        display: none;
    }

    &__register {
        display: none;
    }
}

@include desktop() {
    .login-register {
        max-height: 90vh;
        height: auto;
        width: auto;
        top: 50%;
    }
}
