.mobile-header-bar {
    margin-top: 40px;

    &__user {
        margin-bottom: 48px;
        div {
            padding: 16px 0px;
            font-size: 18px;
        }
    }
    &__socials {
        a {
            margin-right: 30px;
        }
    }
}

@include tablet() {
    .mobile-header-bar {
            margin-top: 136px;
        &__user {
            margin-bottom: 48px;
            div {
                padding: 26px 0px;
                font-size: 36px;
            }
        }
        &__social-icon {
            width: 50px;
        }
    }
}

@include desktop() {
    .mobile-header-bar {
        display: none;
    }
}
