.my-profile {
    background-color: $homepage-about-grey;
    padding: 20px;
    &__wrapper {
        width: 100%;
        display: flex;
        flex-flow: column;
        background-color: $white;
        font-family: $main-family;
    }
    &__info {
        display: flex;
        flex-flow: column;
        padding: 35px 20px;

    }
    &__image {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        img {
            max-width: 160px;
            max-height: 160px;
            width: 100%;
            height: 100%;
        }
    }
    &__name {
        margin: 28px 0 40px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
    &__name-field {
        width: 100%;
    }
    &__email {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
    }
    &__answer {
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__phone {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;

    }
    &__description {
        padding: 20px 20px;
    }
    &__about-me-titile {
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__about-me {
        font-size: 16px;
        margin-bottom: 30px;
    }
    &__change-info {
        font-size: 16px;
        color: #503088;
    }
}

@include tablet() {
    .my-profile {

        // flex-flow: row;
        padding: 40px;
        &__info {
            flex-flow: row;
            padding: 40px;

        }
        &__image {
            width: 30%;
            margin-right: 56px;
        }
        &__main-info {
            width: 70%;
        }
        &__name {
            text-align: left;
        }
    }
}

@include desktop() {
    .my-profile {
        width: 100%;
        padding: 40px 0px;
        // margin: 40px auto;
        &__wrapper {
            max-width: 750px;
            width: 100%;
            margin: 0 auto;
        }
        &__name {
            margin-top: 0px;
        }
        &__description {
            padding: 40px;
        }
    }
}
