.my-profile-form {
    background-color: $homepage-about-grey;
    padding: 20px;
    &__wrapper {
        width: 100%;
        display: flex;
        flex-flow: column;
        background-color: $white;
        font-family: $main-family;
    }
    &__info {
        display: flex;
        flex-flow: column;
        padding: 35px 20px;
        font-weight: bold;
    }
    &__image {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        img {
            max-width: 160px;
            max-height: 160px;
            width: 100%;
            height: 100%;
        }
        input {
            // width: 100%;
                margin: 0 auto;
        }
    }
    &__main-info {
        input {
            width: 100%;
            padding: 5px 10px;
            color: $black-light;
        }
        p {
            color: $purple;
            margin: 20px 0px 10px;
        }
    }
    &__name {
        font-size: 24px;
        font-weight: bold;
    }
    &__name-field {
        width: 100%;
    }
    &__email {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
    }
    &__answer {
        font-weight: bold;
    }
    &__phone {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;

    }
    &__description {
        padding: 0px 20px 20px;
        color: $purple;
        textarea {
            width: 100%;
            color: $black-light;
            padding: 15px 10px;
        }

    }
    &__about-me-titile {
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__about-me {
        font-size: 16px;
    }
    &__change-info {
        font-size: 16px;
        color: #503088;
    }
    &__submit {
        @include cta-grey();
        width: 100%;
        margin-top: 20px;
    }
}

@include tablet() {
    .my-profile-form {

        // flex-flow: row;
        padding: 40px;
        &__info {
            flex-flow: row;
            padding: 40px;

        }
        &__image {
            width: 30%;
            margin-right: 56px;
        }
        &__main-info {
            width: 70%;
        }
        &__name {
            text-align: left;
        }
    }
}

@include desktop() {
    .my-profile-form {
        width: 100%;
        padding: 40px 0px;
        // margin: 40px auto;
        &__wrapper {
            max-width: 750px;
            width: 100%;
            margin: 0 auto;
        }
        &__info {
            align-items: flex-start;
        }
        &__name {
            margin-top: 0px;
        }
        &__description {
            padding: 40px;
        }
    }
}
