{% extends "base.twig" %}

{% block content %}
<div class="infopage">
    <div class="infopage__wrapper">
        <div class="infopage__title">
            {{ post.title }}
        </div>
        <div class="infopage__content">
            {{ post.content }}
        </div>
    </div>
</div>

{% endblock %}
