<div class="loading-popup js-loading-loader">
    <img class="loading-popup__loader js-loading-popup-loader" src="{{ theme.link }}/assets/img/loader.gif" alt="Volunteer Web loading...">
</div>
<div class="loading-popup loading-popup--success js-loading-success">
    <div class="loading-popup__success js-popup-success"></div>
</div>
