<div class="header-bar__user js-sign-in-register-bar">

    <div class="header-bar__user-info js-user-info">
        Taka þátt:
        <div class="header-bar__login-icon">
            <img src="{{ theme.link }}/assets/img/user-icon.png" alt="">
        </div>
        <a class="js-user-profile-link header-bar__user-link" href="{{ function( 'get_page_link', 158 ) }}">Notandanafn</a>

        <div class="login-border-right"></div>
        <div class="js-logout-link header-bar__logout">
            <a class="js-logout-button">Að skrá þig út</a>

        </div>
    </div>
    <div class="js-login-register-section header-bar__login-wrapper" style="display: none">
        <div class="header-bar__login-link">
            <div class="header-bar__login-icon">
                <img src="{{ theme.link}}/assets/img/user-icon.png" alt="">
            </div>

            <a class="js-login-button">Innskráning</a>
        </div>
        <div class="login-border-right"></div>
        <div class="header-bar__register">
            <a class="js-register-button">Nýskráning</a>
        </div>
    </div>
</div>
