<div id="signup-form" class="signup">
    <div class="signup__title">
        Skráðu þig til að taka þátti í boði
    </div>
    <div class="signup__fields-wrapper">
        <p>Netfang</p>
        <input type="text" name="" value="Netfangið þitt">
    </div>
    <div class="signup__fields-wrapper">
        <p>Lykilorð</p>
        <input type="text" name="" value="Lykilorðið þitt">
    </div>
    <div class="signup__fields-wrapper">
        <p>Endurtakið lykilorð</p>
        <input type="text" name="" value="Lykilorðið þitt aftur">
    </div>
    <button type="button" name="Áfram" class="signup__button">Áfram</button>
    <div class="signup__login">
        Búin að <a href="#">skrá þig?</a>
    </div>
</div>
