<div class="task-preview">
    <div class="task-preview__skill">
        Tungumál - Íslenska
    </div>
    <div class="task-preview__info-wrapper">
        <div class="task-preview__main-info">
            <div class="task-preview__division">
                Upplýsingaráð
            </div>
            <div class="task-preview__title">
                Búa til vefsíðu sem heldur utan um Grasrótarstarf Pírata
            </div>
        </div><!-- main-info end -->
        <div class="task-preview__description">
            <div class="task-preview__hrs-per-week">
                <p class="task-preview__bold-text">1 - 4 </p> Klst á viku
            </div>
            <div class="task-preview__lang-skills">
                <p class="task-preview__bold-text">Tungumál </p> - Íslenska
            </div>
        </div><!-- description end -->
    </div><!-- info wrapper end -->

    <div class="task-preview__category">
        <div class="task-preview__category-icon">
            <img src="{{theme.link }} /assets/img/placeholder.png">
        </div>
        <div class="task-preview__category-text">
            Stjórnskipan
        </div>
    </div> 

</div>
